body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ds-digitalnormal';
    src: url('./fonts/ds-digi-webfont.woff2') format('woff2'),
         url('./fonts/ds-digi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(91, 91, 218);
    gap: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 700px;
    border: 3px solid black;
    gap: 20px;
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: 5px 10px 10px;
    margin-top: 30px;
}

#screenText {
    font-size: 50px;
    text-align: right;
    width: 418px;
    background-image: url(./images/lcdbackground.png);
    font-family: ds-digitalnormal;
}

button {
    width: 100px;
    height: 100px;
    font-size: larger;
    color: white;
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.operator {
    background-color: rgb(126, 126, 126);
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 8px;
    margin-top: 80px;
}

